html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #282828;
	min-height: 100%;
	height: 100%;
}

h1 {
	font-family: 'Iceland', cursive;
	font-size: 3em;
	color: #fff;
}

h2 {
	font-family: 'Iceland', cursive;
	font-size: 2.6em;
	color: #fff;
}

p {
	font-family: 'Titillium Web', sans-serif;
	font-size:1.2em;
	line-height: 1.5em;
	letter-spacing: .05em;
	color: #eee;
	margin: 0 0 1em 0;
}

li {
	font-family: 'Titillium Web', sans-serif;
	font-size:1.2em;
	line-height: 1.5em;
	letter-spacing: .05em;
	color: #eee;
	margin: 0 0 1em 2.5em;
	list-style-type: circle;
}

a {
	color: #AD57FF;
	text-decoration: none;
	transition: 0.2s all ease-in-out;
}

a:hover, a:active {
	color: #D6ABFF;
}
