# Deny access to certain files and folders
RedirectMatch 404 db/
RedirectMatch 404 lib/
<Files .htaccess>
	Require all denied
</Files>

ErrorDocument 404 /render.php?template=404

# Rewrites
Options +FollowSymlinks
RewriteEngine on

# Nice links
RewriteRule ^archives/([^/]+)/? res/template/archives/$1 [L,NC,R=301]
RewriteRule ^about res/template/about.php [NC]
RewriteRule ^portfolio res/template/portfolio.php [NC]
RewriteRule ^games/([^/]+)/? res/template/games.php?game=$1 [NC]
RewriteRule ^games res/template/games.php [NC]

RewriteRule ^$ render.php?template=index [NC]
RewriteRule ^blog/$ render.php?template=blog [NC]
RewriteRule ^archive/$ render.php?template=archive [NC]
RewriteRule ^archive/tag/([^/]+)/([1-9]\d*)$ render.php?template=archive-tag&tag=$1&page=$2 [NC]
RewriteRule ^archive/tag/([^/]+)/$ render.php?template=archive-tag&tag=$1&page=0 [NC]
RewriteRule ^archive/category/([^/]+)/([1-9]\d*)$ render.php?template=archive-category&category=$1&page=$2 [NC]
RewriteRule ^archive/category/([^/]+)/$ render.php?template=archive-category&category=$1&page=0 [NC]
RewriteRule ^archive/year/([^/]+)/([1-9]\d*)$ render.php?template=archive-year&year=$1&page=$2 [NC]
RewriteRule ^archive/year/([^/]+)/$ render.php?template=archive-year&year=$1&page=0 [NC]
RewriteRule ^archive/([1-9]\d*)$ render.php?template=blog&page=$1 [NC]
RewriteRule ^archive/post/([1-9]\d*)$ render.php?template=post&id=$1 [NC]
RewriteRule ^music/$ render.php?template=music [NC]
