#<ifModule expires_module>
#	ExpiresActive  On
#	ExpiresDefault "access plus 24 hours"
#</ifModule>

# Deny access to certain files and folders
RedirectMatch 404 db/
RedirectMatch 404 lib/
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# Rewrites
Options +FollowSymlinks
RewriteEngine on

# Prevent hotlinking
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost/.*$ [NC]
RewriteRule \.(gif|jpg|js|css)$ - [F]

# Nice links
RewriteRule ^archives/([^/]+)/? /blog/archives/$1 [L,NC,R=301]
RewriteRule ^about blog/about.php [NC]
RewriteRule ^portfolio blog/portfolio.php [NC]
RewriteRule ^games/([^/]+)/? blog/games.php?game=$1 [NC]
RewriteRule ^games blog/games.php [NC]
RewriteRule ^music blog/music.php [NC]