.container {
	padding: 0 1em 0 1em;
}

.header {
	padding: 1em 0 1em 0;
	margin: 0 0 1.5em 0;
}

.title { text-align: center; }

a.nav { padding: .5em; }
div.nav { text-align: center; margin-top: 1em; }
