@use "./base.scss";

body {
  background-image: radial-gradient(var(--lightgray) 0.075rem, transparent 0);
  background-position: -10pt -10pt;
  background-size: 20pt 20pt;
  background-attachment: fixed;
}

section {
  background-color: unset;
}

h1::before {
  content: url(/static/b1.svg);
  margin-right: 0.5rem;
  top: 0.25rem;
  position: relative;
}

h2::before {
  content: url(/static/b2.svg);
  margin-right: 0.5rem;
  top: 0.4rem;
  position: relative;
}

pre {
  backdrop-filter: blur(.12rem);
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
}

summary::after {
  content: url(/static/arrow.svg);
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
  transition: 0.1s;
  transform: rotate(-90deg)
}

summary > * {
  margin: 0 !important;
  padding-left: 0 !important;
  display: inline-block;
}

details[open] > summary::after {
  transform: rotate(0deg);
}

details > ul {
  margin: .5rem 0 !important;
  padding: 0;
  list-style: none;
}

details.hf4a {
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  padding: 1rem;
}

details.hf4a ul {
  width: 100%;
  list-style: none;
  padding-inline-start: 1.5rem;
}

details.hf4a > ul > li {
  margin-top: 1rem;
}

details.hf4a-map {
  display: inline;
  position: relative;
  z-index: 1;
  border: 1px solid var(--gray);
  border-radius: 5px;
  transition: 0.15s background linear;
  padding: 0 0.4rem;

  &:hover {
    background: var(--lightgray);
  }
}

details.hf4a-map > summary::after {
  content: none;
}

details.hf4a-map > div {
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  border-radius: 1rem;
  filter: drop-shadow(0 0 1rem #000a);
}

details.hf4a-map li {
  padding: 1px inherit;
}

ul.overflow::after {
  background: unset;
}

.backlinks li {
  margin-top: 0.5rem;
}

.banner img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.callout {
  overflow: hidden;
  backdrop-filter: blur(0.12rem);
}

.crossposts li {
  margin-top: 0.5rem;
}

.crossposts img {
  width: 1rem;
  margin: 0;
  border-radius: 0;
}

.flex {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  p {
    margin: 0;

    img {
      margin: 0;
    }
  }
}

.left {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  align-items: center;

  .page-title {
    grid-area: 1/1/2/3;
  }

  .search {
    max-width: unset;
    grid-area: 2/1/3/2;
  }

  .darkmode {
    grid-area: 2/2/3/3;
  }
}

.page > #quartz-body .sidebar.right {
  flex-wrap: nowrap;
  height: calc(100vh - 12rem);
}

.table-container > table {
  margin: 0;
  width: 100%
}

.timestamp {
  font-family: var(--codeFont);
}

#toc {
  overflow: scroll;
}
