RedirectMatch 301 /rss /feed

Options +FollowSymlinks
RewriteEngine on
# Legacy wp archive link
RewriteRule ^archives/([^/]+) archive.php?wp=$1 [NC]
# Nice blog urls
RewriteRule ^archive/([^/]+)/([^/]+)/([^/]+) archive.php?$1=$2&page=$3 [NC]
RewriteRule ^archive/([^/]+)/([^/]+) archive.php?$1=$2 [NC]
RewriteRule ^archive archive.php [NC]
RewriteRule ^feed feed.php [NC]
