# Deny access to certain files and folders
RedirectMatch 404 db/
RedirectMatch 404 lib/
<Files .htaccess>
	Require all denied
</Files>

ErrorDocument 404 /std/404.php

# Rewrites
Options +FollowSymlinks
RewriteEngine on

# Nice links
RewriteRule ^u/([A-Za-z0-9\-\_\.]+)$ user.php?user=$1 [NC]
RewriteRule ^g/([A-Za-z0-9\-]+)$ game.php?game=$1 [NC]
