.header {
	background-color: #eee;
	padding: 1em;
	margin-bottom: 2em;
}

.wrapper {
	padding: 0 2em 5em 2em;
}

.desc {
	font-style: italic;
	font-size: 1em;
	color: gray;
}

.none {
	font-style: italic;
	color: gray;
}

.success {
	padding: 1em;
	color: green;
	background-color: #efe;
}

.error {
	padding: 1em;
	color: red;
	background-color: #fee;
}

a.nav {
	text-decoration: none;
	background-color: #fff;
	padding: .3em .7em;
	margin: 0 1em;
}

html {
	font-family: monospace;
	overflow-y: scroll;
	min-height: 100%;
	height: 100%;
}

input, button {
	font-family: monospace;
}

body {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	font-size: 1em;
}

th {
	border-bottom: 1px solid #ddd;
	background-color: #444;
	color: white;
	font-style: bold;
}

th a {
	color: white;
	font-style: bold;
	text-decoration: none;
}

tr {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

tr:nth-last-child(1) {
	background-color: #ffc !important;
}

tr:nth-child(even) {
	background-color: #eee;
}

td:nth-child(1) {
	font-style: italic;
}

th, td {
	padding: .3em 1em .3em 1em;
}

li {
	margin-bottom:1em;
}
